body {
    background: #010922;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  background: #010922;
}
.sidebar_nav{
  display:flex;
  flex-direction: column;
  padding: 1rem;
  /* border: 2px solid #5f6472; */
  height:80vh;
  width: 25vh;
  padding-top: 20rem;
  justify-content: space-between;
}
.nav_link{
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px solid #5f6472;
  padding: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  margin: 1rem;

}
.content_section{
  width: 100%;
  border: 1px solid #5f6472;
  height: 80vh;
  padding-bottom: 5rem;
  margin-bottom: 2rem;
  width: 70vw;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  overflow-y: scroll;
}
.nav_link_bottom{
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 30px;
  color: #fff;
  background-color: #8C8CDA;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px solid #5f6472;
  padding: 1rem;
  margin-bottom: 1Srem;
  justify-content: center;
  margin: 0.5rem;
  /* background-color: red; */

}
.nav_search{
padding: 1rem;
width:  70%;
border: 2px solid gray;
border-radius: 20px;
background-color: transparent;
color: white;
font-size: 1.1rem;
/* margin-top: -30rem; */
}
.landingpage_container{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  }