.sidebar{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height:50vh;
    width: 25vh;
    padding-top: 5rem;
    justify-content: space-evenly;
  }

  .top_button{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease;
    border: 2px solid #187741;
    padding: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    margin: 1rem;
  
  }
  .top_button:hover{
    background-color: #187741;
  }

  .bottom_buttons{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 30px;
    color: #fff;
    background-color: #187741;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease;
    border: 1px solid #5f6472;
    padding: 1rem;
    margin-bottom: 1Srem;
    justify-content: center;
    margin: 0.5rem;
  
  }